<xml>test<span class="elem_before">text before</span><center>Hello!</center>
<bold>Warning!!!</bold><ul type="disc" class="our_ul">abra<li><a href="test.html">Hello!<br>new line</a></li>hello!<li><a href="test.html">Hello!<br>new line</a></li>new vision</ul>
<italic>new age</italic><underline>new wave</underline><div class="elem_after">text after</div>test2test<span class="elem_before">text before</span><center>Hello!</center>
<bold>Warning!!!</bold><ul type="disc" class="our_ul">abra<li><a href="test.html">Hello!<br>new line</a></li>hello!<li><a href="test.html">Hello!<br>new line</a></li>new vision</ul>
<italic>new age</italic><underline>new wave</underline><div class="elem_after">text after</div>test2</xml>
