<xml>test<ul type="disc">abra<li><a href="test.html">Hello!<br>new line</a></li>hello!<li><a href="test.html">Hello!<br>new line</a></li>new vision</ul>test2test<ul type="disc">abra<li><a href="test.html">Hello!<br>new line</a></li>hello!<li><a href="test.html">Hello!<br>new line</a></li>new vision</ul>test2</xml>
