<xml>test<ul type="disc">abra<li>different worlds</li>hello!<li>clear sky<!--I was here!-->
</li>new vision</ul>test2test<ul type="disc">abra<li>different worlds</li>hello!<li>clear sky<!--I was here!-->
</li>new vision</ul>test2</xml>
