<xml>test<span class="elem_before">text before</span><ul type="disc" class="our_ul">abra<li><a href="test.html">Hello!<br>new line</a></li>hello!<li><a href="test.html">Hello!<br>new line</a></li>new vision</ul>test2test<span class="elem_before">text before</span><ul type="disc" class="our_ul">abra<li><a href="test.html">Hello!<br>new line</a></li>hello!<li><a href="test.html">Hello!<br>new line</a></li>new vision</ul>test2</xml>
